<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VideoServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigPath</display-name>
    <servlet-name>ConfigPath</servlet-name>
    <servlet-class>test.ConfigPath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigPath</servlet-name>
    <url-pattern>/ConfigPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/springMVC.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.GlobalConfig</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>VideoTrans</display-name>
    <servlet-name>VideoTrans</servlet-name>
    <servlet-class>servlet.VideoTrans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoTrans</servlet-name>
    <url-pattern>/VideoTrans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoTran1</display-name>
    <servlet-name>VideoTran1</servlet-name>
    <servlet-class>servlet.VideoTran1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoTran1</servlet-name>
    <url-pattern>/VideoTran1</url-pattern>
  </servlet-mapping>
</web-app>